<div class="first-screen__bg swiper">
	{% if section.blocks.size > 0 %}
		<div class="swiper-wrapper">
			{% for block in section.blocks %}
				{% if block.settings.image %}
					<div class="swiper-slide first-screen__slide">
						<img src="{{ block.settings.image | img_url: 'master' }}" alt="oracle - jewelry">
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
</div>


{% schema %}
{
  "name": "First Screen Slider",
  "max_blocks": 10,
  "blocks": [
    {
      "type": "slide",
      "name": "Слайд",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Зображення слайда"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Кастомний слайдер"
    }
  ]
}
{% endschema %}
