<section class="popular-goods">
  <div class="popular-goods__container">
    <h2 class="popular-goods__title title">Popular Items</h2>
    <div class="popular-goods__list">
      
    </div>
    <div class="popular-goods__more-container">
      <a href="/collections/all" class="popular-goods__more link">Show More</a>
    </div>
  </div>
</section>
