<div class="product__item">
	<a href="#" class="image__block">
		<span class="product__label">@@label</span>
		<img src="@@image" alt="@@title">
		<span class="view-more">View More</span>
	</a>
	<a href="#" class="product__name">@@title</a>
	<p class="product__price">
		@@price
		<span class="old-price">@@oldPrice</span>
	</p>
</div>